@font-face {
  font-family: "Satoshi";
  src: url(/fonts/satoshi.ttf);
}

@font-face {
  font-family: "Cabinet";
  src: url(/fonts/cabinet.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
